{% extends 'base.html.twig' %}

{% block body %}
    
    <div id="container" class="clear">
    <!-- Slider -->
    <section id="faqheader" class="clear">
      <figure>
        <figcaption>
          <h2>FAQ. Najczęściej zadawane pytania</h2>
          
         
        </figcaption>
      </figure>
    </section>
    <!-- Content -->
    <div id="homepage">
      <!-- ########################################################################################## -->
      <section class="clear">
        <div id="faq">
          <h2 >1. Czy warto założyć konto na FamilyTree?</h2>
          <p>Zdecydowanie. Rejestracja jest szybka i darmowa, a sam portal dostarcza wielu spaniaych funkcjonalności Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque. Quisque non luctus sem.</p>         
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque. Quisque non luctus sem.</p>
         
        </div>
          
           <div id="faq">
          <h2 >2. Czy założenie konta coś kosztuje?</h2>
          <p>Zdecydowanie. Rejestracja jest szybka i darmowa, a sam portal dostarcza wielu spaniaych funkcjonalności Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque. Quisque non luctus sem.</p>         
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque. Quisque non luctus sem.</p>
         
        </div>
          
           <div id="faq">
          <h2 >3. Czy korzystanie z portalu jest trudne?</h2>
          <p>Zdecydowanie. Rejestracja jest szybka i darmowa, a sam portal dostarcza wielu spaniaych funkcjonalności Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque. Quisque non luctus sem.</p>         
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque. Quisque non luctus sem.</p>
         
        </div>
          
          
           <div id="faq">
          <h2 >4. Czy korzystanie z serwisu, nie mając ukończonego wieku 18 lat jest legalne?</h2>
          <p>Zdecydowanie. Rejestracja jest szybka i darmowa, a sam portal dostarcza wielu spaniaych funkcjonalności Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque. Quisque non luctus sem.</p>         
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque. Quisque non luctus sem.</p>
         
        </div>
        
      </section>
      <!-- / Two Third -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- One Third -->
     
      <!-- ########################################################################################## -->
    </div>
    <!-- / content body -->
  </div>
    
{% endblock %}




