{% extends 'base.html.twig' %}

{% block body %}
    
    <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider" class="clear">
      <figure><img src="{{ asset('bundles/framework/images/tree.png') }}">
        <figcaption>
          <h2>Stwórz historię swojej rodziny!</h2>
          </br>
          <p>Nazwa "drzewo genealogiczne" wywodzi się od biblijnego określenia potomków Jessego z Księgi Izajasza, częstego motywu w sztuce (drzewo Jessego):
</br>
    „I wyrośnie różdżka z pnia Jessego,
    wypuści się odrośl z jego korzeni.”[1] (Iz 11,1).
.</p>
          <footer class="more"><a href="{{ path('faq') }}">Read More &raquo;</a></footer>
        </figcaption>
      </figure>
    </section>
    <!-- Content -->
   
    <!-- / content body -->
  </div>
    
{% endblock %}




