
{% extends 'base.html.twig' %}



{% block titles %}
    
{% endblock titles %}



{% block body %}
    
  
    
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'Dodaj osobę' }}" />
    </div>
{{ form_end(form) }}


        
<div class="chart" id="OrganiseChart-simple">
	</div>
	

            



    
 {% endblock %}






