
{% extends 'base.html.twig' %}



{% block titles %}
    
{% endblock titles %}



{% block body %}
    
     <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider" class="clear">
      <figure>
        <figcaption1>
     
    <h2> </h2>
    
</div>



    
    
       </figcaption1>
         
      </figure>
    </section>
    
    
    
    
    
    
{% endblock %}




